################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

ksm-config.json
/.vs
/.sonarqube
/.build
/.results

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
coverage.*.xml
__snapshots__

out/
build

#vs
.vs
bin
obj
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
/.env
.env*.local
docker.env.*
!docker.env.sample


# turbo
.turbo
.vercel
.swc
.build
