DOCKER_REGISTRY=''
#DOCKER_REGISTRY=wsdev.azurecr.io/
PROJECT_NAME=ws-bom-sample-basic
PROJECT_URL=http://localhost
#PROJECT_URL=https://ws-bom-sample-basic.azurewebsites.net
MONGODB_URI=mongodb://mongo:27017/${PROJECT_NAME}
