$font-base-family: var(--font-base-family);
$font-base-size-xs: var(--font-base-size-xs);
$font-base-size-sm: var(--font-base-size-sm);
$font-base-size-md: var(--font-base-size-md);
$font-base-size-lg: var(--font-base-size-lg);
$font-base-size-xl: var(--font-base-size-xl);
$font-base-line-height: var(--font-base-line-height);
$font-display10-size: var(--font-display10-size);
$font-display10-line-height: var(--font-display10-line-height);
$font-display20-size: var(--font-display20-size);
$font-display20-line-height: var(--font-display20-line-height);
$font-display30-size: var(--font-display30-size);
$font-display30-line-height: var(--font-display30-line-height);
$font-display40-size: var(--font-display40-size);
$font-display40-line-height: var(--font-display40-line-height);
$font-heading10-size: var(--font-heading10-size);
$font-heading10-line-height: var(--font-heading10-line-height);
$font-heading20-size: var(--font-heading20-size);
$font-heading20-line-height: var(--font-heading20-line-height);
$font-heading30-size: var(--font-heading30-size);
$font-heading30-line-height: var(--font-heading30-line-height);
$font-heading40-size: var(--font-heading40-size);
$font-heading40-line-height: var(--font-heading40-line-height);
$font-paragraph10-size: var(--font-paragraph10-size);
$font-paragraph10-line-height: var(--font-paragraph10-line-height);
$font-paragraph20-size: var(--font-paragraph20-size);
$font-paragraph20-line-height: var(--font-paragraph20-line-height);
$font-paragraph30-size: var(--font-paragraph30-size);
$font-paragraph30-line-height: var(--font-paragraph30-line-height);
$font-paragraph40-size: var(--font-paragraph40-size);
$font-paragraph40-line-height: var(--font-paragraph40-line-height);
$font-paragraph50-size: var(--font-paragraph50-size);
$font-paragraph50-line-height: var(--font-paragraph50-line-height);
$grid-default-columns: var(--grid-default-columns);
$grid-default-size: var(--grid-default-size);
$grid-default-column-gap-xs: var(--grid-default-column-gap-xs);
$grid-default-column-gap-sm: var(--grid-default-column-gap-sm);
$grid-default-column-gap-md: var(--grid-default-column-gap-md);
$grid-default-column-gap-lg: var(--grid-default-column-gap-lg);
$grid-default-column-gap-xl: var(--grid-default-column-gap-xl);
$grid-default-row-gap-xs: var(--grid-default-row-gap-xs);
$grid-default-row-gap-sm: var(--grid-default-row-gap-sm);
$grid-default-row-gap-md: var(--grid-default-row-gap-md);
$grid-default-row-gap-lg: var(--grid-default-row-gap-lg);
$grid-default-row-gap-xl: var(--grid-default-row-gap-xl);
$media-query-xs: 0;
$media-query-sm: 768px;
$media-query-md: 1024px;
$media-query-lg: 1440px;
$media-query-xl: 1600px;
$container-default-max-width-xs: var(--container-default-max-width-xs);
$container-default-max-width-sm: var(--container-default-max-width-sm);
$container-default-max-width-md: var(--container-default-max-width-md);
$container-default-max-width-lg: var(--container-default-max-width-lg);
$container-default-max-width-xl: var(--container-default-max-width-xl);
$container-fluid-max-width-xs: var(--container-fluid-max-width-xs);
$container-fluid-max-width-sm: var(--container-fluid-max-width-sm);
$container-fluid-max-width-md: var(--container-fluid-max-width-md);
$container-fluid-max-width-lg: var(--container-fluid-max-width-lg);
$container-fluid-max-width-xl: var(--container-fluid-max-width-xl);
$button-size-xs: var(--button-size-xs);
$button-size-sm: var(--button-size-sm);
$button-size-md: var(--button-size-md);
$button-size-lg: var(--button-size-lg);
$button-size-xl: var(--button-size-xl);
$button-border-radius: var(--button-border-radius);
$form-default-font-size: var(--form-default-font-size);
$form-default-line-height: var(--form-default-line-height);
$form-default-padding: var(--form-default-padding);
$form-default-background-color: var(--form-default-background-color);
$form-default-background-color-disabled: var(--form-default-background-color-disabled);
$form-default-background-color-info: var(--form-default-background-color-info);
$form-default-background-color-error: var(--form-default-background-color-error);
$form-default-color: var(--form-default-color);
$form-default-color-hover: var(--form-default-color-hover);
$form-default-color-disabled: var(--form-default-color-disabled);
$form-default-color-info: var(--form-default-color-info);
$form-default-color-error: var(--form-default-color-error);
$form-default-border: var(--form-default-border);
$form-default-border-width: var(--form-default-border-width);
$form-default-border-color: var(--form-default-border-color);
$form-default-border-color-hover: var(--form-default-border-color-hover);
$form-default-border-color-disabled: var(--form-default-border-color-disabled);
$form-default-border-color-info: var(--form-default-border-color-info);
$form-default-border-color-error: var(--form-default-border-color-error);
$form-default-border-radius: var(--form-default-border-radius);
$form-default-outline: var(--form-default-outline);
$form-default-outline-color-focus: var(--form-default-outline-color-focus);
$form-default-outline-color-active: var(--form-default-outline-color-active);
$form-default-outline-color-error: var(--form-default-outline-color-error);
$form-default-outline-offset: var(--form-default-outline-offset);
$form-default-transition: var(--form-default-transition);
$form-negative-padding: var(--form-negative-padding);
$form-negative-background-color-disabled: var(--form-negative-background-color-disabled);
$form-negative-color-hover: var(--form-negative-color-hover);
$form-negative-color-disabled: var(--form-negative-color-disabled);
$form-negative-border-color: var(--form-negative-border-color);
$form-negative-border-color-hover: var(--form-negative-border-color-hover);
$form-negative-border-color-disabled: var(--form-negative-border-color-disabled);
$form-negative-outline-color-focus: var(--form-negative-outline-color-focus);
$form-negative-outline-color-active: var(--form-negative-outline-color-active);
$form-negative-border-width: var(--form-negative-border-width);
$form-negative-border-radius: var(--form-negative-border-radius);
$form-negative-outline-offset: var(--form-negative-outline-offset);
$card-shadow: var(--card-shadow);
$backdrop-opacity: var(--backdrop-opacity);
$border-radius: var(--border-radius);
$shadow-xs: var(--shadow-xs);
$shadow-sm: var(--shadow-sm);
$shadow-md: var(--shadow-md);
$shadow-lg: var(--shadow-lg);
$shadow-xl: var(--shadow-xl);
$color-neutral-100: var(--color-neutral-100);
$color-neutral-200: var(--color-neutral-200);
$color-neutral-300: var(--color-neutral-300);
$color-neutral-400: var(--color-neutral-400);
$color-neutral-500: var(--color-neutral-500);
$color-neutral-600: var(--color-neutral-600);
$color-neutral-700: var(--color-neutral-700);
$color-neutral-800: var(--color-neutral-800);
$color-neutral-900: var(--color-neutral-900);
$color-primary-100: var(--color-primary-100);
$color-primary-200: var(--color-primary-200);
$color-primary-300: var(--color-primary-300);
$color-primary-400: var(--color-primary-400);
$color-primary-500: var(--color-primary-500);
$color-primary-600: var(--color-primary-600);
$color-primary-700: var(--color-primary-700);
$color-primary-800: var(--color-primary-800);
$color-primary-900: var(--color-primary-900);
$color-secondary-100: var(--color-secondary-100);
$color-secondary-200: var(--color-secondary-200);
$color-secondary-300: var(--color-secondary-300);
$color-secondary-400: var(--color-secondary-400);
$color-secondary-500: var(--color-secondary-500);
$color-secondary-600: var(--color-secondary-600);
$color-secondary-700: var(--color-secondary-700);
$color-secondary-800: var(--color-secondary-800);
$color-secondary-900: var(--color-secondary-900);
$color-success-100: var(--color-success-100);
$color-success-200: var(--color-success-200);
$color-success-300: var(--color-success-300);
$color-success-400: var(--color-success-400);
$color-success-500: var(--color-success-500);
$color-success-600: var(--color-success-600);
$color-success-700: var(--color-success-700);
$color-success-800: var(--color-success-800);
$color-success-900: var(--color-success-900);
$color-warning-100: var(--color-warning-100);
$color-warning-200: var(--color-warning-200);
$color-warning-300: var(--color-warning-300);
$color-warning-400: var(--color-warning-400);
$color-warning-500: var(--color-warning-500);
$color-warning-600: var(--color-warning-600);
$color-warning-700: var(--color-warning-700);
$color-warning-800: var(--color-warning-800);
$color-warning-900: var(--color-warning-900);
$color-danger-100: var(--color-danger-100);
$color-danger-200: var(--color-danger-200);
$color-danger-300: var(--color-danger-300);
$color-danger-400: var(--color-danger-400);
$color-danger-500: var(--color-danger-500);
$color-danger-600: var(--color-danger-600);
$color-danger-700: var(--color-danger-700);
$color-danger-800: var(--color-danger-800);
$color-danger-900: var(--color-danger-900);

$grid-columns: var(--grid-columns);
$grid-size: var(--grid-size);
$grid-column-gap: var(--grid-column-gap);
$grid-row-gap: var(--grid-row-gap);
$container-max-width: var(--container-max-width);
$form-font-size: var(--form-font-size);
$form-line-height: var(--form-line-height);
$form-padding: var(--form-padding);
$form-background-color: var(--form-background-color);
$form-background-color-disabled: var(--form-background-color-disabled);
$form-background-color-info: var(--form-background-color-info);
$form-background-color-error: var(--form-background-color-error);
$form-color: var(--form-color);
$form-color-hover: var(--form-color-hover);
$form-color-disabled: var(--form-color-disabled);
$form-color-info: var(--form-color-info);
$form-color-error: var(--form-color-error);
$form-border: var(--form-border);
$form-border-width: var(--form-border-width);
$form-border-color: var(--form-border-color);
$form-border-color-hover: var(--form-border-color-hover);
$form-border-color-disabled: var(--form-border-color-disabled);
$form-border-color-info: var(--form-border-color-info);
$form-border-color-error: var(--form-border-color-error);
$form-border-radius: var(--form-border-radius);
$form-outline: var(--form-outline);
$form-outline-color-focus: var(--form-outline-color-focus);
$form-outline-color-active: var(--form-outline-color-active);
$form-outline-color-error: var(--form-outline-color-error);
$form-outline-offset: var(--form-outline-offset);
$form-transition: var(--form-transition);
